.banner {
    background: url('img/banner.png') center / cover;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40%;
}

.mdl-layout__drawer-button>.material-icons {
    padding-top: 12px;
}

.page-content {
    padding: 15px;
}